OPENAI_API_KEY=<YOUR_API_KEY>   # obtain from https://platform.openai.com/api-keys
GROQ_API_KEY=<YOUR_API_KEY>     # obtain from https://console.groq.com/keys
WWD_CSV_PATH=./data/WorldWideDishes_Main.csv
WWD_30_DISHES_CSV_PATH=./data/WorldWideDishes_Selected_Countries.csv
